[project]
	description = Try it.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yisw (perfumed)
[access "refs/for/refs/*"]
	read = group user/yisw (perfumed)
	push = group user/yisw (perfumed)
	label-Code-Review = -2..+2 group user/yisw (perfumed)
	label-Verified = -1..+1 group user/yisw (perfumed)
	rebase = group user/yisw (perfumed)
	removeReviewer = group user/yisw (perfumed)
	submit = group user/yisw (perfumed)
[access "refs/heads/*"]
	read = group user/yisw (perfumed)
	create = group user/yisw (perfumed)
	push = +force group user/yisw (perfumed)
	pushMerge = group user/yisw (perfumed)
[access "refs/tags/*"]
	push = group user/yisw (perfumed)
	push = +force group user/yisw (perfumed)
